


body{
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
background-image:url(assets/Spaceback.png);
background-size:cover;
}

.container{
    display: flex;
            justify-content: center; /* Horizontally center the SVG */
            align-items:first baseline;     /* Vertically center the SVG */
            
}

.gray-box {
    
    width: 850px;              /* Set the width of the box */
    height: 500px;             /* Set the height of the box */
    background-color: #cccccc; /* Set the background color to a light gray (#cccccc) */
    border: 1px solid #000;    /* Optional: Add a border around the box */
    padding: 20px;             /* Optional: Add padding inside the box */
    display: flex;             /* Optional: This allows you to center the content */
    align-items: center;       /* Optional: This centers the content vertically */
    justify-content: center;   /* Optional: This centers the content horizontally */
}

.page-wrapper{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */ 
    margin-top: 50px;    
}
/* this is the button for my portfolio work */
.my-work{
    background-color: transparent;
    padding: 5px;
    color: #1b1b1b;
    border: 2px solid #1b1b1b;
    transition: all 0.3s ease;

}

.my-work:hover {
    background-color: #1b1b1b;
    color: #cccccc;
}
/* this is the about me button */
.about-me{
    background-color: transparent;
    padding: 5px;
    color: #1b1b1b;
    border: 2px solid #1b1b1b;
    transition: all 0.3s ease;

}

.about-me:hover {
    background-color: #1b1b1b;
    color: #cccccc;
}
/* this is the button to my report */
.resume{
    background-color: transparent;
    padding: 5px;
    color: #1b1b1b;
    border: 2px solid #1b1b1b;
    transition: all 0.3s ease;

}

.resume:hover {
    background-color: #1b1b1b;
    color: #cccccc;
}